<div class="bg-blue-600 h-auto w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 text-white">
    <div class="p-5">
        <h2 class="text-2xl font-bold">Milki’s Hotel</h2>
        <small>Where every flavor tells you a story</small>
        <p class="mt-3 font-semibold">Address : Road 12, Peace Avenue,Ado,Ekiti</p>
        <p class="mt-3 font-semibold">Phone number : +2347015886456</p>
        <p class="mt-3 font-semibold">Email: {{ email }}</p>
    </div>
    <div class="grid grid-cols-1 p-5 items-center">
        <a class="capitalize font-bold">ABOUT US</a>
        <a class="capitalize font-bold">CONTACT US</a>
        <a class="capitalize font-bold">ROOMS & RATES</a>
        <a class="capitalize font-bold">FACILITIES</a>
    </div>
    <div class="grid grid-cols-1 p-5 items-center">
        <a class="capitalize font-bold">FACEBOOK</a>
        <a class="capitalize font-bold">INSTAGRAM</a>
        <a class="capitalize font-bold">TWITTER</a>
        <a class="capitalize font-bold">SNAP CHAT</a>
    </div>
</div>