<app-general-navbar></app-general-navbar>
<div class="p-6 md:max-w-6xl mx-auto bg-white rounded-xl shadow-md space-y-4">
    <div class="flex justify-between flex-col md:flex-row my-3">
        <div>
            <h1 class="text-2xl font-bold">Lemon Tree Premier Pune</h1>
            <p class="text-yellow-500">⭐⭐⭐⭐⭐ 5 Star Hotel</p>
            <p class="text-gray-500">City Center, 15 & 15A, Connaught Rd, Modi Colony, Pune, Maharashtra 411001</p>
        </div>
        <div class="md:text-right flex justify-end items-end flex-col md:block">
            <p class="text-2xl font-bold text-blue-700">₹ 2349/night</p>
            <div class="flex gap-2">
                <button class="mt-2 border border-blue-500 text-blue-600 py-2 px-4 rounded"><i
                        class="fas fa-share"></i></button>
                <button class="mt-2 bg-blue-500 text-white py-2 px-4 rounded">Download</button>
            </div>
        </div>
    </div>
    <div class="flex gap-2 flex-col md:flex-row items-center border-b pb-4">
        <div class="w-full md:w-2/5 bg-blue-300 p-4 rounded-md">
            <div class="my-3">
                <p class="font-semibold text-2xl">Thur, Dec 8</p>
                <p class="text-gray-500">Check-in</p>
            </div>
            <div class="my-3">
                <p class="font-semibold">1 Night</p>
            </div>
            <div class="my-3">
                <p class="font-semibold text-2xl">Fri, Dec 9</p>
                <p class="text-gray-500">Check-Out</p>
            </div>
        </div>
        <div class="w-full md:w-3/5">
            <div class="flex items-center">
                <img src="https://via.placeholder.com/50" alt="Guest photo" class="rounded-full w-12 h-12 mr-4">
                <div>
                    <p class="font-semibold">James Doe</p>
                    <p class="text-gray-500">Superior room - 1 double bed or 2 twin beds</p>
                    <p class="text-gray-500">Room no.: 0102</p>
                </div>
            </div>
            <div class="my-5">
                <p class="font-semibold text-2xl">Booking ID</p>
                <p class="text-gray-500">9874234924023012345344</p>
            </div>
        </div>

    </div>
    <p class="text-2xl">Terms and Conditions</p>
    <p class="text-xl">Policies</p>
    <ul class="list-disc list-inside">
        <li>If you are purchasing your ticket using a debit or credit card via the Website, we will process these payments via the automated secure common payment gateway which will be subject to fraud screening purposes. </li>
        <li>If you do not supply the correct card billing address and/or cardholder information, your booking will not be confirmed and the overall cost may increase. We reserve the right to cancel your booking if payment is declined for any reason or if you have supplied incorrect card information. If we become aware of, or is notified of, any fraud or illegal activity associated with the payment for the booking, the booking will be cancelled and you will be liable for all costs and expenses arising from such cancellation, without prejudice to any action that may be taken against us.</li>
        <li>Golobe may require the card holder to provide additional payment verification upon request by either submitting an online form or visiting the nearest Golobe office, or at the airport at the time of check in. Golobe reserves the right to deny boarding or to collect a guarantee payment (in cash or from another credit card) if the card originally used for the purchase cannot be presented by the cardholder at check in or when collecting the tickets, or in the case the original payment has been withheld or disputed by the card issuing bank. Credit card details are held in a secured environment and transferred through an internationally accepted system.</li>
    </ul>
</div>


<app-footer></app-footer>