<app-general-navbar></app-general-navbar>
<div class="container mx-auto px-4 py-8">
    <header class="text-center mb-8">
        <h1 class="text-4xl font-bold text-blue-600">Privacy Policy</h1>
    </header>
    <main class="bg-white p-6 rounded-lg shadow-lg">
        <section class="">
            <h2 class="text-2xl font-semibold text-blue-500 mb-2">1. Introduction</h2>
            <p>Welcome to <strong>[Hotel Management App]</strong> (the "App"). This Privacy Policy outlines how we
                collect, use, disclose, and protect your information when you use our services. By using our App, you
                agree to the collection and use of information in accordance with this policy.</p>
        </section>
        <section class="">
            <h2 class="text-2xl font-semibold text-blue-500 mb-2">2. Information We Collect</h2>
            <p>We collect various types of information in order to provide and improve our services to you:</p>
            <ul class="list-disc list-inside">
                <li><strong>Personal Data:</strong> Information that can be used to identify you, such as your name,
                    email address, phone number, postal address, and payment information.</li>
                <li><strong>Usage Data:</strong> Information on how you access and use the App, including your IP
                    address, browser type, browser version, pages visited, time and date of visit, time spent on pages,
                    and other diagnostic data.</li>
                <li><strong>Cookies and Tracking Technologies:</strong> Information collected through cookies and other
                    tracking technologies to enhance your user experience.</li>
            </ul>
        </section>
        <section class="">
            <h2 class="text-2xl font-semibold text-blue-500 mb-2">3. Use of Data</h2>
            <p>We use the collected data for various purposes, including:</p>
            <ul class="list-disc list-inside">
                <li>To provide and maintain our services</li>
                <li>To notify you about changes to our services</li>
                <li>To allow you to participate in interactive features of our App</li>
                <li>To provide customer support</li>
                <li>To gather analysis or valuable information to improve our services</li>
                <li>To monitor the usage of our services</li>
                <li>To detect, prevent, and address technical issues</li>
            </ul>
        </section>
        <section class="">
            <h2 class="text-2xl font-semibold text-blue-500 mb-2">4. How We Protect Your Data</h2>
            <p>Your data security is of utmost importance to us. We use a variety of security measures to ensure the safety of your personal information.</p>
            <ul class="list-disc list-inside mt-4">
              <li>All sensitive information is encrypted during transmission using Secure Socket Layer (SSL) technology.</li>
              <li>We implement advanced security measures to protect your data stored on our servers.</li>
              <li>Access to your personal information is restricted to authorized personnel only.</li>
              <li>We regularly review our security practices to ensure they meet or exceed industry standards.</li>
            </ul>
        </section>
        <section class="">
            <h2 class="text-2xl font-semibold text-blue-500 mb-2">5. Disclosure of Data</h2>
            <p>We may disclose your personal data in the good faith belief that such action is necessary to:</p>
            <ul class="list-disc list-inside">
                <li>Comply with a legal obligation</li>
                <li>Protect and defend the rights or property of [Hotel Management App]</li>
                <li>Prevent or investigate possible wrongdoing in connection with the services</li>
                <li>Protect the personal safety of users of the services or the public</li>
                <li>Protect against legal liability</li>
            </ul>
        </section>
        <section class="">
            <h2 class="text-2xl font-semibold text-blue-500 mb-2">6. Changes to This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new
                Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.
                Changes to this Privacy Policy are effective when they are posted on this page.</p>
        </section>
        <section class="">
            <h2 class="text-2xl font-semibold text-blue-500 mb-2">7. Contact Us</h2>
            <p>If you have any questions about this Privacy Policy, please contact us at <a
                    href="mailto:{{email}}"
                    class="text-blue-600 underline">{{email}}</a>.</p>
        </section>
    </main>
</div>



<app-footer></app-footer>