<!-- <div class="absolute h-[450px] w-60  right-20 flex justify-center items-center"> -->
<form [formGroup]="filterForm" class="w-72 px-5 h-full bg-white my-auto bg-opacity-50 rounded-lg"
  (ngSubmit)="navigateWithFilters()">
  <div class="bg-transparent bg-opacity-0 flex flex-col items-center">
    <p class="font-bold text-3xl text-white">Book a Room</p>
    <mat-card-content>
      <div>
        <div class="bg-opacity-35 italic my-2 text-black">
          <label class="text-blue-600 font-bold" for="">Check-in Date</label>
          <input class="w-full p-2 h-10 rounded-lg" type="date" placeholder="Check in date"
            formControlName="check_in_date">
          @if (filterForm.controls['check_in_date'].hasError('required') &&
          filterForm.controls['check_in_date'].dirty) {
          <mat-error class="text-blue-600">Check in date is <strong>required</strong></mat-error>
          }
        </div>
        <div class="bg-opacity-35 italic my-2 text-black">
          <label class="text-blue-600 font-bold" for="">Check-out Date</label>
          <input class="w-full p-2 h-10 rounded-lg" type="date" placeholder="Check out date"
            formControlName="check_out_date">
          @if (filterForm.controls['check_out_date'].hasError('required') &&
          filterForm.controls['check_out_date'].dirty) {
          <mat-error class="text-blue-600">Check out date is <strong>required</strong></mat-error>
          }
        </div>
        <div class="bg-opacity-35 italic my-2 text-black">
          <label class="text-blue-600 font-bold" for="">Room Type</label>
          <select class="w-full p-2 h-10 rounded-lg" formControlName="room_type">
            <option value="all" selected>All</option>
            <option value="single">Single</option>
            <option value="double">Double</option>
            <option value="suite">Suite</option>
            <option value="vip">VIP</option>
          </select>
          @if (filterForm.controls['room_type'].hasError('required') &&
          filterForm.controls['room_type'].dirty) {
            <mat-error class="text-blue-600">Room type is <strong>required</strong></mat-error>
          }
        </div>
        
      </div>
    </mat-card-content>
    <mat-card-actions class="flex w-full justify-end">
      <button class="p-2 rounded-lg bg-blue-600 text-white font-bold" type="submit">Book now</button>
    </mat-card-actions>
  </div>
</form>
<!-- </div> -->