<div class="p-3 text-white">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content>
        <p>{{data.message}}</p>
        <ng-container *ngIf="data.input">
            <mat-form-field>
                <label for="">Enter the customer email address</label>
                <input matInput [(ngModel)]="inputValue" class="w-full rounded-md p-2 focus:border focus:border-blue-400" placeholder="Email">
            </mat-form-field>
        </ng-container>
    </div>
    <div mat-dialog-actions class="flex justify-between mt-5">
        <button mat-button (click)="onNoClick()" class="bg-green-400 py-2 px-3 rounded-md">Cancel</button>
        <button mat-button (click)="onYesClick()" class="bg-red-400 py-2 px-3 rounded-md" cdkFocusInitial>Confirm</button>
    </div>
</div>