<app-general-navbar></app-general-navbar>
<div class="h-[450px] relative">
    <div class="absolute w-full h-full -z-20" style="background-image: url(assets/17.jpg); background-repeat: no-repeat; background-size: 100% 100%">
    </div>
    <div class="w-full h-full flex justify-center items-center bg-black bg-opacity-25">
        <h3 class="text-5xl font-bold text-white">OUR ROOMS AND RATE</h3>
    </div>
</div>
<app-room [placementRight]="true"></app-room>
<app-room [placementRight]="false"></app-room>
<app-room [placementRight]="false"></app-room>
<app-footer></app-footer>
