<app-general-navbar></app-general-navbar>
<div class="flex">
    <div class="basis-2/5 border-r">
        <h6 class="text-xl">Filters</h6>
        <form [formGroup]="filterForm">
            <mat-form-field appearance="fill">
                <mat-label>Rating</mat-label>
                <mat-select formControlName="rating">
                    <mat-option [value]="null">All</mat-option>
                    <mat-option *ngFor="let rating of ratings" [value]="rating">{{rating}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                    <mat-option [value]="null">All</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-slider min="{{minPrice}}" max="{{maxPrice}}" step="10" thumbLabel
                [ngModel]="filterForm.controls['priceRange'].value" (ngModelChange)="updatePriceRange($event)"
                [displayWith]="formatLabel">
                <input value="{{minPrice}}" matSliderStartThumb>
                <input value="{{maxPrice}}" matSliderEndThumb>
            </mat-slider>
            <p>Price Range: ${{ filterForm.controls['priceRange'].value[0] }} - ${{
                filterForm.controls['priceRange'].value[1] }}</p>

            <button mat-raised-button color="primary" type="button" (click)="resetFilters()">Reset Filters</button>
        </form>
    </div>
    <div class="basis-3/5 p-4">
        <h6 class="text-3xl">Available Rooms</h6>
        <div *ngFor="let room of filteredRooms" class="p-2 h-40 border-b rounded-lg flex gap-3">
            <img src="{{room.images[0]}}" class="h-full w-full md:w-2/6" alt="">
            <div class="w-full md:w-4/6">
                <h2 class="text-3xl">{{room.name}}</h2>
                <h3 class="my-0 p-0">{{room.description}}</h3>
                <app-star-rating [rating]="room.rating" [readOnly]="true" [maxRating]="5"></app-star-rating>
                <hr>
                <p>Price: ${{ room.price }}</p>
                <p>Rating: {{ room.rating }}</p>
            </div>
            <!-- <mat-grid-list [cols]="getGridCols(room.images.length)" class="rounded-md" rowHeight="100px">
                <mat-grid-tile *ngFor="let tile of room.images; let i = index; trackBy: trackByFn"
                               [colspan]="getColSpan(room.images.length, i)"
                               [rowspan]="getRowSpan(room.images.length, i)">
                  <img [src]="tile" class="w-full h-full" alt="Room image">
                </mat-grid-tile>
              </mat-grid-list> -->
        </div>
    </div>
</div>
<app-footer></app-footer>