<app-general-navbar></app-general-navbar>
<app-hero-section></app-hero-section>
<app-about-section></app-about-section>
<div class="relative h-[400px]">
    <div class="absolute top-0 right-0 left-0 bottom-0 -z-20" style="background-image: url(assets/17.jpg); background-repeat: no-repeat; background-size: 100% 100%">

    </div>
    <div class="py-10 sm:py-20 text-center h-full flex flex-col items-center justify-evenly justify-items-center bg-black bg-opacity-40 text-white">
        <h4 class="text-2xl">Bar & Restaurant</h4>
        <p class="mt-20 w-5/6 sm:w-4/6"> Ladies and gentlemen, history keeps repeating itself but doesn't teach us any lessons. 'Never again' 
            has turned into 'again and again and again.' So today, ladies and gentlemen, take Hotel Lunar as a 
            wake-up call and a message to be our messenger that people are the ones who can change what they 
            want to change.</p>
    </div>
</div>
<app-our-gallery></app-our-gallery>