<div class="container p-3 md:p-16">
    <div class="grid grid-cols-1 md:flex flex-row">
        <div class="md:w-3/6 p-3">
            <p class="text-4xl font-bold">About <span class="text-blue-600">Milki’s Hotel</span></p>
            <p class="py-5">Ladies and gentlemen, history keeps repeating itself but doesn't
                teach us any lessons. 'Never again' has turned into 'again and again
                and again.' So today, ladies and gentlemen, take Hotel Lunar as a
                wake-up call and a message to be our messenger that people are the
                ones who can change what they want to change.
            </p>
            <p class="py-5">
                Ladies and gentlemen, history keeps repeating itself but doesn't
                teach us any lessons. 'Never again' has turned into 'again and again
                and again.' So today, ladies and gentlemen, take Hotel Lunar as a
                wake-up call and a message to be our messenger that people are the
                ones who can change what they want to change.
            </p>
        </div>
        <div class="md:w-3/6 p-3">
            <img src="assets/2.jpg" alt="">
            <p class="text-xl">Standard Single Room</p>
        </div>
    </div>
</div>