<app-general-navbar></app-general-navbar>
<div class="flex justify-center items-center p-2 md:py-3 bg-gray-100">
    <div class="bg-white p-6 rounded shadow-md w-full max-w-lg">
        <h2 class="text-2xl font-bold mb-4">Write a Review</h2>
        <form (ngSubmit)="onSubmit()" #reviewForm="ngForm">
            <!-- Name Input -->
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium">Name</label>
                <input type="text" name="name" [(ngModel)]="reviewerName" class="w-full p-2 border rounded"
                    placeholder="Your name" required />
            </div>
            <!-- Star Rating Input -->
            <div class="mb-4">
                <label for="starRating" class="block text-sm font-medium">Star Rating</label>
                <app-star-rating [(rating)]="starRating" [readOnly]="false" [maxRating]="5"></app-star-rating>
            </div>
            <!-- Review Content -->
            <div class="mb-4">
                <textarea name="review" [(ngModel)]="reviewContent" class="w-full p-2 border rounded" rows="5"
                    placeholder="Write your review here" required></textarea>
            </div>
            <!-- Image Upload -->
            <div class="mb-4">
                <label for="imageUpload" class="block text-sm font-medium">Upload Image</label>
                <input type="file" (change)="onFileSelected($event)" class="w-full border rounded p-2" />
            </div>
            <!-- Submit Button -->
            <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-700"
                [disabled]="!reviewForm.form.valid">
                Submit
            </button>
        </form>
    </div>
</div>
<app-footer></app-footer>
