<app-general-navbar></app-general-navbar>
<div class="flex flex-col-reverse md:flex-row p-3 md:p-16">
    <div class="w-full md:w-4/6">
        <div class="shadow-md rounded-md p-5">
            <div class="flex flex-col md:flex-row justify-between">
                <p class="text-3xl">{{ room.title }}</p>
                <p class="text-3xl text-blue-600">${{ room.price }}/night</p>
            </div>
            <div class="flex justify-center items-center gap-2 border p-2">
                <img src="assets/12.jpg" class="h-14 w-24 rounded-md" alt="">
                <h3 class="text-4xl my-auto">Milki Hotel</h3>
            </div>
            <div class="flex justify-between">
                <div class="flex flex-col">
                    <p class="text-2xl">{{ checkInDate | date:'fullDate' }}</p>
                    <small>Check-In</small>
                </div>
                <div class="flex flex-col">
                    <p class="text-2xl">Thursday, Dec 8</p>
                    <small>Check-in</small>
                </div>
                <div class="flex flex-col">
                    <p class="text-2xl">{{ checkOutDate | date:'fullDate' }}</p>
                    <small>Check-Out</small>
                </div>
            </div>
            <strong class="py-1 px-2 rounded-lg border">1 night</strong>
        </div>
        <div class="shadow-md rounded-md p-5 my-3"> 
            <button class="bg-blue-600 w-full p-2 rounded-md items-center text-white flex justify-between">
                <div class="flex flex-col">
                    <h5 class="text-xl my-0 py-0">Pay in full</h5>
                    <p class="my-0 py-0">Pay the total and you are all set</p>
                </div>
                <strong>O</strong>
            </button>
        </div>
        <div class="shadow-md rounded-md p-5 my-3"> 
            <div class="flex justify-between p-2">
                <h3>Login or Sign up to book</h3>
                <a routerLink="/account" class="bg-blue-600 text-white rounded-md px-4 py-2">Sign Up</a>
            </div>
            <input type="email" class="w-full rounded-md p-2 border" placeholder="Email Address">
            <p>We'll text you to confirm your email address. Standard message and data rates apply. Privacy Policy</p>
            <button class="text-center bg-blue-600 rounded-md text-white w-full p-2">Continue</button>
            <div class="flex h-7 justify-center items-center">
                <hr class="w-5/12 my-auto">
                <p class="w-2/12 text-center">Or</p>
                <hr class="w-5/12 my-auto">
            </div>
            <button class="w-full border border-blue-600 rounded-md text-center p-2">G</button>
        </div>
    </div>
    <div class="w-full md:w-2/6 p-3">
        <div class="shadow-md p-2">
            <div class="flex flex-col md:flex-row gap-2 p-2">
                <img src="{{room.images[0]}}" class="h-24 w-2/5 rounded-md" alt="">
                <div>
                    <p class="text-3xl mb-3">{{ room.title }}</p>
                    <app-star-rating [rating]="room.star_rating" [readOnly]="true" [maxRating]="5"></app-star-rating>
                </div>
            </div>
            <hr>
            <h6 class="text-xl">Your booking is protected using <strong>Encryption</strong> by our system</h6>
            <hr>
            <div class="p-2">
                <h5 class="text-xl">Price Details</h5>
                <div class="flex justify-between">
                    <p>Base fare</p>
                    <p>${{ room.price }}</p>
                </div>
                <div class="flex justify-between">
                    <p>Discount</p>
                    <p>$0</p>
                </div>
                <div class="flex justify-between">
                    <p>Taxes</p>
                    <p>$12</p>
                </div>
                <div class="flex justify-between">
                    <p>Service Fee</p>
                    <p>$5</p>
                </div>
            </div>
            <hr>
            <div class="flex justify-between p-2">
                <p>Total Fee</p>
                <strong>$300</strong>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>