<div class="p-10 w-full h-full bg-white">
  <div class="h-full w-full overflow-y-auto">
    <h2 class="text-xl font-bold">User Dashboard</h2>
    <div *ngIf="user">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="order-1">
          <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
        <div class="flex">
          <img class="order-0 md:order-2 h-32 w-32 md:ms-auto rounded-full" src={{user.image}} alt="User image">
          <button mat-button>Log Out</button>
        </div>
      </div>
      <h3 class="font-bold mt-4">Bookings</h3>
      <div class="overflow-x-auto overflow-y-auto">
        <table mat-table [dataSource]="bookings" class="mat-elevation-z8">
          <!-- Booking Columns -->
          <ng-container matColumnDef="room">
            <th mat-header-cell *matHeaderCellDef> Room </th>
            <td mat-cell *matCellDef="let booking"> {{booking.ref}} </td>
          </ng-container>

          <ng-container matColumnDef="checkIn">
            <th mat-header-cell *matHeaderCellDef> Check-In </th>
            <td mat-cell *matCellDef="let booking"> {{booking.check_in_date | date}} </td>
          </ng-container>

          <ng-container matColumnDef="checkOut">
            <th mat-header-cell *matHeaderCellDef> Check-Out </th>
            <td mat-cell *matCellDef="let booking"> {{booking.check_out_date | date}} </td>
          </ng-container>
          <ng-container matColumnDef="ref">
            <th mat-header-cell *matHeaderCellDef> Download </th>
            <td mat-cell *matCellDef="let booking">
              <button (click)="downloadBooking(booking)" class="bg-green-400 text-white py-2 px-4 rounded-md"><i
                  class="fa fa-download" aria-hidden="true"></i></button>
            </td>
          </ng-container>

          <!-- Table header and row declarations -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>